<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnvioLauncherTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnvioLauncherTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AnvioLauncherTest.Properties.Settings>
            <setting name="CurrentProcessor" serializeAs="Xml">
                <value>
                    <Processor xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <ExecutablePath>C:\WINDOWS\system32\notepad.exe</ExecutablePath>
                        <OptionalParameter>/A</OptionalParameter>
                    </Processor>
                </value>
            </setting>
            <setting name="IsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WidgetItemCollection" serializeAs="Xml">
                <value>
                  <ArrayOfWidgetItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                    <WidgetItem>
                      <FilePath>a.txt</FilePath>
                    </WidgetItem>
                    <WidgetItem>
                      <FilePath>b.txt</FilePath>
                    </WidgetItem>
                    <WidgetItem>
                      <FilePath>c.txt</FilePath>
                    </WidgetItem>
                  </ArrayOfWidgetItem>
                </value>
            </setting>
            <setting name="InitialFileSelectionDialogDirectory" serializeAs="String">
                <value />
            </setting>
        </AnvioLauncherTest.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AnvioLauncherTest.Properties.Settings>
            <setting name="FileNameParameter" serializeAs="String">
                <value>%1</value>
            </setting>
        </AnvioLauncherTest.Properties.Settings>
    </applicationSettings>
</configuration>